<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <title>about</title>

    <style>
        a{
            text-decoration: none;
            color: white;
            font-size: 15px;
        }
    </style>
</head>
<body>
    <div class="menu">
        <div class="menu-item"><a href="/about">about</a></div>
        <div class="menu-item"><a class="lo-btn" href="/">Login</a></div>
        
    </div>

    <div style="display: flex; text-align: center; width: 50%; margin-left: auto; margin-right: auto;">
        <div>
            <h1>Hasibul Hasan</h1>
            <p>A student of DIU</p>
        </div>
        <div>
            <img src="../public/images/fevicon.ico" alt="" height="200px" width="200px" />
        </div>

        
    </div>
    <a href="/" class="lo-btn">Go Home</a>
</body>
</html>