<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <style>
        body{
            text-align: center;
        }
        a{
            text-decoration: none;
            color: #3A51A7;
            font-weight: bold;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div class="err">
        <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--_GqDpWw0--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/i/7aqcppklh6bexoa70320.jpg"/>
        <h1>Look like you're lost</h1>
        <h3>The page you are looking for is not available!</h3>
        <p>Click <a href="/">here</a> to go Home.....</p>
    </div>
</body>
</html>